body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

.video-container {
	position: relative;
	height: 100vh; /* Use viewport height to ensure full screen */
	overflow: hidden;
}

.background-video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.overlay {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
	color: white;
	text-align: left;
	z-index: 1;
}

.animated-text {
	font-size: 3rem;
	font-weight: bold;
	animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.join-button {
	margin-top: 20px;
	padding: 12px 24px;
	border: none;
	border-radius: 25px;
	background-color: #28a745;
	color: white;
	font-size: 1.2rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.join-button:hover {
	background-color: #218838;
	color: white;
}

.navbar-nav {
	font-size: 1.1rem;
}

.navbar-nav .nav-item .nav-link {
	color: white !important;
}

.navbar-nav .nav-item .nav-link:hover {
	color: #28a745 !important;
}
