body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

header, .navbar {
    background: #28a745;
    color: #ffffff;
}

.navbar-brand img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

nav a {
    color: #ffffff;
    font-weight: bold;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.btn-danger {
    margin: 5px;
    background-color: #dc3545;
    border: none;
}

.table-dark {
    background-color: #343a40;
    color: #ffffff;
}

.table-dark th, .table-dark td {
    vertical-align: middle;
}

.card-header {
    background-color: #28a745;
    color: #ffffff;
    font-size: 1.25rem;
    padding: 10px;
}
